<footer class="footer">
    <div class="container">
     <div class="row">
        <div class="footer-col">
            <img src="../../../assets/logo1.png" style="margin:5px;" width="90" height="90" alt="">
            <h4>Glab © 2021-Company</h4>
          </div>
       <div class="footer-col">
         <h4>Glab Company</h4>
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">Nosotros</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Online Shop</h4>
         <ul>
           <li><a routerLink='mujer'>Mujer</a></li>
           <li><a routerLink='hombre'>Hombre</a></li>
           <li><a routerLink='accesorios'>Accesorios</a></li>
           <li><a routerLink='conjuntos'>Conjuntos</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Seguinos</h4>
         <div class="social-links">
           <a href="#"><i class="pi pi-facebook"></i></a>
           <a href="#"><i class="pi pi-twitter"></i></a>
           <a href="https://www.instagram.com/?hl=es-la"><i class="pi pi-instagram"></i></a>
           <a href="#"><i class="pi pi-whatsapp"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>
