<div >
   <img src="../../../assets/portadanosotros.png" width="1390" height="300px" alt="">
</div>
<div>
  <img src="../../../assets/nosotros 1.png" alt="">
</div>
<div>
    <img src="../../../assets/nosotros2.png" alt="">
</div>
<div>
    <img src="../../../assets/videoglab.gif" alt="">
</div>

<div class="contenedor-cards">
  <div class="card col-3">
    <div class="card-info">
    <div class="card-avatar"></div>
    <div class="card-title">Gianinna Campos</div>
    <div class="card-subtitle">Programación</div>
    </div>
    <ul class="card-social">
    <li class="card-social__item">
      <a href="https://www.instagram.com/_hianiss_/?next=%2F"><i class="pi pi-instagram"></i></a>
    </li>
</ul>
</div>
<div class="card col-3">
  <div class="card-info">
  <div class="card-avatar"></div>
  <div class="card-title">Lucila Chiara</div>
  <div class="card-subtitle">Diseño</div>
  </div>
  <ul class="card-social">
  <li class="card-social__item">
    <a href="https://www.instagram.com/luu_chiara02/?next=%2F"><i class="pi pi-instagram"></i></a>
  </li>
</ul>
</div>
<div class="card col-3">
  <div class="card-info">
  <div class="card-avatar"></div>
  <div class="card-title">Brisa Lopez</div>
  <div class="card-subtitle">Documentación y Database</div>
  </div>
  <ul class="card-social">
  <li class="card-social__item">
    <a href="https://www.instagram.com/brisa.lopez.21/?next=%2F"><i class="pi pi-instagram"></i></a>
</li>

</ul>
</div>
<div class="card col-3">
  <div class="card-info">
  <div class="card-avatar"></div>
  <div class="card-title">Abigail Salazar</div>
  <div class="card-subtitle">Documentación y Database</div>
  </div>
  <ul class="card-social">
  <li class="card-social__item">
    <a href="https://www.instagram.com/abii_salazar_04/?next=%2F"><i class="pi pi-instagram"></i></a>
  </li>

</ul>
</div>
</div>