<button style="margin:3px;" label="Ingresar Producto"pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-help"></button>
 <div class="card">
    <p-table responsiveLayout="scroll" [value]="collecionRemeraM">
        <ng-template pTemplate="caption">
            Productos Mujer
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Producto </th>
                <th>Precio</th>
                <th>Color</th>
                <th>Cantidad</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-remeram let-columns="columns">
            <tr>
                <td>{{remeram.Producto}}</td>
                <td>{{remeram.Precio}}</td>
                <td>{{remeram.Color}}</td>
                <td>{{remeram.Cantidad}}</td>
                <td><p-button icon="pi pi-check"  styleClass="p-button-danger" ></p-button>
                    <p-button icon="pi pi-times"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    <p-table responsiveLayout="scroll" [value]="collecionRemeraH">
        <ng-template pTemplate="caption" style="background-color: black;color: aliceblue;">
            Productos Hombre
           
        </ng-template>
       
        <ng-template pTemplate="body" let-remerah let-columns="columns">
            <tr>
                <td>{{remerah.Producto}}</td>
                <td>{{remerah.Precio}}</td>
                <td>{{remerah.Color}}</td>
                <td>{{remerah.Cantidad}}</td>
                <td><p-button icon="pi pi-check"  styleClass="p-button-danger" ></p-button>
                    <p-button icon="pi pi-times"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    <p-table responsiveLayout="scroll" [value]="collecionConjuntos">
        <ng-template pTemplate="caption">
            Conjuntos
        </ng-template>
       
        <ng-template pTemplate="body" let-conjuntos let-columns="columns">
            <tr>
                <td>{{conjuntos.Producto}}</td>
                <td>{{conjuntos.Precio}}</td>
                <td>{{conjuntos.Color}}</td>
                <td>{{conjuntos.Cantidad}}</td>
                <td><p-button icon="pi pi-check"  styleClass="p-button-danger" ></p-button>
                    <p-button icon="pi pi-times" ></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div> 


<!-- 

<div class="container" style="margin: 10px;  padding-top: 20px; text-align: center;">

   <div class="content-section implementation">
    <div class="cardd">
        <p-table [value]="collecionMujeres" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Productos
                    <p-button icon="pi pi-refresh"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Color</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mujer>
                <tr>
                    <td>{{mujer.Producto}}</td>
                    <td><img [src]="mujer.Img" [alt]="mujer.Producto" width="100" class="shadow-4" /></td>
                    <td>{{mujer.Tipo}}</td>
                    <td><p-button icon="pi pi-check" (click)="borrarProductoM()" styleClass="p-button-danger" ></p-button>
                        <p-button icon="pi pi-times" (click)="mostrarEditar"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
 -->
