/* 
.marquee span:nth-of-type(3) {
    animation-delay: 6000ms !important;
    opacity: 0;
}
  
.marquee span {
  
}
.marquee span {
    transform: translateY(-50%) translateX(-50%);
    top: 0;
    line-height: 25px;
    display: block;
    position: absolute;
    left: 50%;
    width: 100%;
    animation: fadeUp-1 9s ease-in-out infinite;
}
 */
#topbar {
    width: 100%;
    position: fixed;
    background: #000;
    /* background: linear-gradient(90deg, #FE4508 0%, #FF6E25 38%, #FE4508 100%); */
    top: 0;
    z-index: 5000;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
}
